weflow-sse-listener/提示词助手.yml
app:
  description: 你是一个提示词助手，根据提示词给的连接web地址和关键字进行业务上的处理最后post到接口上
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 提示词助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.34@a3a90f3034b884bb215b8770af24ecd6145cfd5b6ab97f9e40c3143cbe3ccd34
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1774492428468-source-1774511617698-target
      source: '1774492428468'
      sourceHandle: source
      target: '1774511617698'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: knowledge-retrieval
      id: 1774511617698-source-1774939696551-target
      source: '1774511617698'
      sourceHandle: source
      target: '1774939696551'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774939696551-source-llm-target
      source: '1774939696551'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: url
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: url
        - default: ''
          hint: ''
          label: sendpeople
          max_length: 222
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: sendpeople
        - default: ''
          hint: ''
          label: endpeople
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: endpeople
        - default: '222'
          hint: ''
          label: input问题
          max_length: 222
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: input
      height: 186
      id: '1774492428468'
      position:
        x: 443.2562593959851
        y: 109.42834334896025
      positionAbsolute:
        x: 443.2562593959851
        y: 109.42834334896025
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774939696551'
          - result
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: qwen3.5-flash
          provider: langgenius/tongyi/tongyi
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: 976b5ab3-1e51-452d-9028-1f97fd52dbe2
          role: system
          text: "我有个数据库主表你可以先查看该数据库的运维文档了解数据库结构{{#context#}}只要插入主表，然后查看客户群的聊天记录数据\
            \ \n（主机名10.254.253.100，用户名postgres，密码123456，端口，5432）\n然后chat_record_api就写{{#1774492428468.url#}}，chat_record_url就写{{#1774511617698.body#}}\n\
            \n要用第一人称直接命令openclaw，开头直接说“openclaw，请执行” \n "
        - id: 2c1d0de6-5c4b-4c7a-b682-2342eab12e2c
          role: user
          text: '查看{{#1774511617698.body#}}（这个是客户群的聊天数据，有一些数据是需要你理解聊天记录去写的，特别区分有一些字段是分外部和内部。


            '
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 100
        selected: true
        structured_output_enabled: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 117
      id: llm
      position:
        x: 1022.1044233551147
        y: 103.14544515177295
      positionAbsolute:
        x: 1022.1044233551147
        y: 103.14544515177295
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 1287.0467336696386
        y: 98.59829545224187
      positionAbsolute:
        x: 1287.0467336696386
        y: 98.59829545224187
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        default_value:
        - key: body
          type: string
          value: ''
        - key: status_code
          type: number
          value: 0
        - key: headers
          type: object
          value: '{}'
        error_strategy: default-value
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: '{{#1774492428468.url#}}'
        variables: []
      height: 160
      id: '1774511617698'
      position:
        x: 734.6776765634327
        y: 124.36547708291843
      positionAbsolute:
        x: 734.6776765634327
        y: 124.36547708291843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - ZdqXPNDlHgZVpW6Zrg0VwSj86hATF/qu7TbL3e2wMB3cEWRLs60bz93ffHDr5RDH
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774492428468'
        - input
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 89
      id: '1774939696551'
      position:
        x: 800.9216848136555
        y: -137.85348892338024
      positionAbsolute:
        x: 800.9216848136555
        y: -137.85348892338024
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -446.9573200084777
      y: 182.7570940994177
      zoom: 0.6597539553864477
  rag_pipeline_variables: []
